.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.grid__item {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    flex: auto;
    text-align: center;
    margin: 2px;
    height: 130px;

    @media screen and (min-width: 600px) {
        flex-basis: 230px;
    }
/* 
    @media screen and (min-width: 768px) {
    flex-basis: 230px;
    }  */
}