.get-in-touch {
    @include font;
    color: map-get($colores, principal);
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    background: #22222A;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: map-get($colores, principal);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #9f9f9f;
    cursor: text;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}